

h1 {
    color: black;
}

h1:hover {
    color: blue;
}

p {
    color: green;
    border: 1px solid red;

}

.special {
    /* background-color: blue;  */
    font-family: "Comic Sans MS"
}

#intro {
    background-color: yellow;
}

* { 
    border: 1px solid;
}